{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tools Everywhere</title>
    <link href="https://fonts.googleapis.com/css?family=Bungee|Lora" rel="stylesheet">
    {% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock css %}
</head>
<body>
    <header class="navbar-fixed">
            <nav>
                <div class="nav-wrapper yellow accent-4 black-text">
                    <ul>
                        <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Tools Everywhere!</a></li>
                    </ul>
                    <ul class="right">
                        {% if user.is_authenticated %}
                        <li> | </li>
                        <li> Hello, {{ user.username }}! </li>
                        <li> | </li>
                        <li><a href="/profile">Profile</a></li>
                        <li> | </li>
                        <li><a href="/tools">My Tools</a></li>
                        <li> | </li>
                        <li><a href="/tools/create">Add Tool</a></li>
                        <li> | </li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li> | </li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li> | </li>
                        <li><a href="{% url 'signup' %}">SignUp</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer class="page-footer yellow accent-4">
            <div class="container">© 2018 Tools Everywhere!</div>
        </footer>
        
    {% block javascript %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script>
        var dateEl = document.getElementById('id_date');
        M.Datepicker.init(dateEl, {
            format: 'yyyy-mm-dd',
            defaultDate: new Date(),
            setDefaultDate: true,
            autoClose: true
        });
        // add additional JS to initialize select below
        var selectEl = document.querySelectorAll('select');
        M.FormSelect.init(selectEl);
    </script>
    {% endblock javascript %}
</body>
</html>