{% extends 'base.html' %}
{% block content %}

<div class="parallax-container">
    {% load static %}
    <div class="parallax"><img class="parallax-img" src="{% static 'images/parallax1.jpg' %}"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h3 class="header">Share your tools!</h3>
            <p class="grey-text text-darken-3 lighten-3">Tools Everywhere is a sharing-based tool library based in Snohomish County WA. It's a place to share and borrow tools that others may need to use one-time making a purchase unnecessary. If you have some tools you would like to share with others (or if you'd like to borrow something), create an account and get started!</p>
        </div>
    </div>
    <div class="parallax-container">
    <div class="parallax"><img class="parallax-img" src="{% static 'images/parallax2.jpg' %}"></div>
</div>

{% endblock %}