{% extends 'base.html' %}\
{% block content %}

<h1>{{ username }}'s tools:</h1>
<div class="centered">
    <div class="col s8 m8">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title"><h3>About me...</h3></span>
                    <div class="centered-card">
                        <h6>First Name: </h6> <p>{{profile.first_name}}</p>
                        <h6>Last Name: </h6> <p>{{profile.last_name}}</p>
                        <h6>Bio: </h6> <p>{{profile.bio}}</p>
                        <h6>Address 1: </h6> <p>{{profile.address1}}</p>
                        <h6>Address 2: </h6> <p>{{profile.address2}}</p>
                        <h6>City: </h6> <p>{{profile.city}}</p>
                        <h6>State: </h6> <p>{{profile.state}}</p>
                        <h6>Zip Code: </h6> <p>{{profile.zipcode}}</p>
                    </div>
                <br>
                <a href={{update_url}} type="button">Update Details</button>
            </div>
        </div>
    </div> 
</div>  
{% for tool in tools %}
    <a href="/tools/{{ tool.id }}">
    <h3>{{ tool.name }}</h3>
    </a>
{% endfor %}

{% endblock %}