body {
    font-family: 'Lora', serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
    margin: auto;
    /* background-color: rgb(189, 189, 189); */
}
h3 {
    font-family: 'Bungee', cursive;
    margin: 15px;
}
form {
    max-width: 80%;
    margin: auto;
    align-content: center;
}

nav li a {
    color: black !important;
}

.inline-block {
    display: inline-block;
}

.main-content {
    width: 50%;
}

.card {
    align-content: center;
    text-align: center;
}

table {
    text-align: center;
}

.centered {
    text-align: center;
    min-height: 100%;
}

.centered-card {
    /* width: 40vw; */
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .right {
    align-content: middle;
} */

.parallax-container .parallax {
    height: 450px;
    min-width: 100vw;
}

.parallax img { 
    height: 100vh;
    min-width: 100vw;
}