{% extends 'base.html' %}
{% block content %}


<h3>Tool List</h3>
<a href="/tools/create">Add a New Tool!</a>

{% for tool in tools %}
    <div class="card">
        <a href="{% url 'tools_detail' tool.id %}">
            <div class="card-content">
                <span class="card-title">{{ tool.tool_name }}</span>
                <p>Name: {{ tool.tool_name }}</p>
                <p>Description: {{ tool.tool_description }}</p>
            </div>
        </a>
        <a href="/user/{{tool.user.username}}">
            <p>Owned By: {{tool.user.username }}</p>
        </a>
    </div>
{% endfor %}

{% endblock %}